<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>우리 아이를 부탁해</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">


    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto" style="font-size:2.0em;">
                    <a href="/">우리 아이를 부탁해</a>
                </div>
                <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                    <div class="d-flex site-info align-items-center mr-5">
                        <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                        <span>경동로 1375, 안동시, 경상북도 <br> 안동대학교</span>
                    </div>
                    <div class="d-flex site-info align-items-center">
                        <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                        <span>월요일 - 금요일 9:00AM - 6:00PM <br> 토요일, 일요일 휴무 </span>
                    </div>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="menu-wrap d-flex align-items-center">
                <span class="d-inline-block d-lg-none"><a href="#"
                                                          class="text-black site-menu-toggle js-menu-toggle py-5"><span
                        class="icon-menu h3 text-black"></span></a></span>


                <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto ">
                        <li class="active"><a href="/" class="nav-link">Home</a></li>
                        <li><a href="/About" class="nav-link">About</a></li>
                        <li><a href="/Service" class="nav-link">Service</a></li>
                        <li><a href="/CCTV" class="nav-link">CCTV</a></li>
                        <li><a href="/Violent_Message" class="nav-link">Violent Message</a></li>
                        <li><a href="http://192.168.1.1:8080" class="nav-link" target="_blank">Shinobi</a></li>
                        <li><a href="/communicate" class="nav-link">Communicate</a></li>

                    </ul>
                </nav>

                <div class="top-social ml-auto">
                    <a aria-current="page" th:href="@{/join}" sec:authorize="isAnonymous()"><span class=" text-red">sign up</span></a>
                    <a aria-current="page" th:href="@{/login}" sec:authorize="isAnonymous()"><span class=" text-yellow">log in</span></a>
                    <a aria-current="page" th:href="@{/user/logout}" sec:authorize="isAuthenticated()"><span
                        class=" text-yellow">log out</span></a>

                </div>
            </div>
        </div>


    </header>

    <div class="ftco-blocks-cover-1">

        <div class="site-section-cover overlay">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 text-red">Welcome To Our Website</span>
                        <h1 class="mb-3 font-weight-bold text-teal">Give safety to the children</h1>
                        <p>우리 아이를 부탁해 , 유치원내 아동폭력 방지 CCTV</p>
                        <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
                    </div>
                    <div class="col-md-6 ml-auto align-self-end">
                        <img src="images/kid_transparent.png" alt="Image" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-camera"></span>
              </span>
                        <h2>실시간 CCTV</h2>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-2 yellow">
              <span class="wrap-icon">
                <span class="icon-message"></span>
              </span>
                        <h2>폭력행위 감지</h2>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-2 teal">
              <span class="wrap-icon">
                <span class="icon-file-video-o"></span>
              </span>
                        <h2>시노비</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto pl-md-5">
                    <span class="text-cursive h5 text-red">About Us</span>
                    <h3 class="text-black">Give safety to the children</h3>
                    <br>
                    <p><span>아이들에게 안전함을 선사하세요.</span></p>
                    <p><span>"우리 아이를 부탁해"는 아이의 안전을 최우선으로 생각한 솔루션입니다.</span></p>
                    <p><span>"우리 아이를 부탁해"는 폭력으로부터의 보호와 학대로부터의 예방을 제공합니다. </span></p>

                    <p class="mt-5"><a href="/about" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-info">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <span class="text-cursive h5 text-red d-block">Service You Like</span>
                    <h2 class="text-white">Our Service</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="package text-center bg-white">
                        <span class="img-wrap"><img src="images/flaticon/svg/cctv.svg" alt="Image"
                                                    class="img-fluid"></span>
                        <h3 class="text-teal">실시간 CCTV</h3>
                        <p></p>
                        <p><a href="/CCTV" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="package text-center bg-white">
                        <span class="img-wrap"><img src="images/flaticon/svg/message-mid-text-svgrepo-com.svg" alt="Image"
                                                    class="img-fluid"></span>
                        <h3 class="text-success">폭력행위 감지</h3>
                        <p></p>
                        <p><a href="/Violent_Message" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="package text-center bg-white">
                        <span class="img-wrap"><img src="images/flaticon/svg/video.svg" alt="Image"
                                                    class="img-fluid"></span>
                        <h3 class="text-danger">시노비</h3>
                        <p></p>
                        <p><a href="http://192.168.1.1:8080" class="btn btn-success btn-custom-1 mt-4" target="_blank">Learn
                            More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section py-5 bg-warning">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex">
                    <h2 class="text-white m-0">Give safety to the children</h2>
                    <a href="/" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Get Started</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="footer-heading mb-2">About Us</h2>
                    <p><span>아이들에게 안전함을 선사하세요.</span></p>
                    <p><span>"우리 아이를 부탁해"는 아이의 안전을 최우선으로 생각한 솔루션입니다.</span></p>
                    <p><span>"우리 아이를 부탁해"는 폭력으로부터의 보호와 학대로부터의 예방을 제공합니다. </span></p>

                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">

                        <div class="col-lg-4 ml-auto">
                            <h2 class="footer-heading mb-4">Navigation</h2>
                            <ul class="list-unstyled">
                                <li><a href="/About">About Us</a></li>
                                <li><a href="/Service">Service</a></li>
                                <li><a href="/CCTV">CCTV</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-4">
                            <h2 class="footer-heading mb-4">Navigation</h2>
                            <ul class="list-unstyled">
                                <li><a href="/Violent_Message">Violent Message</a></li>
                                <li><a href="http://192.168.1.1:8080">Shinobi</a></li>
                                <li><a href="/contact">Communicate</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row pt-4 mt-4 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                                aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>

</html>

