<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link rel='stylesheet' href='css/index.css'>
    <link rel='stylesheet' href='css/style.css'>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <strong><a class="navbar-brand" href="/">우리 아이를 부탁해</a></strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">게시판</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/cctvstream">실시간 CCT</a></li>
                        <li><a class="dropdown-item" href="/recording">녹화 영상</a></li>
                        <li><a class="dropdown-item" href="/list">자유게시판</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" sec:authorize="isAnonymous()"
                                        th:href="@{/login}">로그인</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" sec:authorize="isAuthenticated()"
                                        th:href="@{/user/logout}">로그아웃</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" sec:authorize="isAnonymous()"
                                        th:href="@{/join}">회원가입</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                        sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="contentWrap">
    <div id="contentCover">
        <div id="chatWrap">
            <div id="chatHeader">폭력행동 예상 시간</div>
            <div id="chatLog">
                <div class="anotherMsg">
                    <span class="anotherName">
                                <tr class="nav" th:each="record : ${recordList}">
            <th scope="row">
                <span th:text="${record.videoId}"></span>
            </th>
        </tr>
                        </tbody>


                    </span>
                    <span class="msg">
                                <tbody>
        <tr class="nav" th:each="record : ${recordList}">
            <th scope="row">
                <span th:text="${record.videoName}"></span>
            </th>
        </tr>
        </tbody>
                    </span>
                </div>

            </div>
        </div>

    </div>

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>